docs/n8n-flows/01-sync-programado.json
{
  "name": "01 - Sync Holded programado",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40001",
      "name": "Cada 6 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40002",
      "name": "POST /api/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://holded-api:8000/api/sync",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40003",
      "name": "GET /api/status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "http://holded-api:8000/api/status",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40004",
      "name": "Log en Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "operation": "create",
        "tableId": "sync_logs",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "synced_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status || 'ok' }}"
            },
            {
              "fieldId": "flow",
              "fieldValue": "sync-programado"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Cada 6 horas": {
      "main": [
        [
          {
            "node": "POST /api/sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/sync": {
      "main": [
        [
          {
            "node": "GET /api/status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/status": {
      "main": [
        [
          {
            "node": "Log en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "tags": ["holded", "sync"]
}
