docs/n8n-flows/02-alertas-facturas-vencidas.json
{
  "name": "02 - Alertas facturas vencidas",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50001",
      "name": "Diario a las 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50002",
      "name": "Facturas vencidas >7 días",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "operation": "getAll",
        "tableId": "invoices",
        "returnAll": true,
        "filterType": "string",
        "filterString": "status=eq.4&due_date=not.is.null"
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50003",
      "name": "Filtrar >7 días",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const today = new Date();\nconst items = $input.all();\n\nconst overdue = items.filter(item => {\n  const due = new Date(item.json.due_date);\n  const diffDays = Math.floor((today - due) / (1000 * 60 * 60 * 24));\n  return diffDays > 7;\n}).map(item => ({\n  json: {\n    ...item.json,\n    days_overdue: Math.floor((today - new Date(item.json.due_date)) / (1000 * 60 * 60 * 24))\n  }\n}));\n\nreturn overdue.length > 0 ? [{ json: { count: overdue.length, invoices: overdue.map(i => i.json) } }] : [];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50004",
      "name": "¿Hay vencidas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50005",
      "name": "Preparar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220],
      "parameters": {
        "jsCode": "const { count, invoices } = $json;\n\nconst rows = invoices\n  .sort((a, b) => b.days_overdue - a.days_overdue)\n  .map(inv => `<tr>\n    <td>${inv.contact_name || '-'}</td>\n    <td>${inv.doc_number || '-'}</td>\n    <td style=\"text-align:right\">${Number(inv.amount).toFixed(2)} €</td>\n    <td>${inv.due_date ? inv.due_date.slice(0, 10) : '-'}</td>\n    <td style=\"color:red;font-weight:bold\">${inv.days_overdue} días</td>\n  </tr>`).join('');\n\nconst html = `\n<h2>⚠️ ${count} facturas vencidas (>7 días)</h2>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;width:100%\">\n  <thead style=\"background:#f5f5f5\">\n    <tr><th>Cliente</th><th>Nº Factura</th><th>Importe</th><th>Vencimiento</th><th>Días vencida</th></tr>\n  </thead>\n  <tbody>${rows}</tbody>\n</table>\n<p style=\"color:#888;font-size:12px\">Generado el ${new Date().toLocaleString('es-ES')} por HoldedConnector</p>\n`;\n\nreturn [{ json: { subject: `⚠️ ${count} facturas vencidas — HoldedConnector`, html } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50006",
      "name": "Gmail — Crear Borrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 220],
      "parameters": {
        "operation": "create",
        "resource": "draft",
        "sendTo": "miguelbenajes@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Diario a las 09:00": {
      "main": [
        [{ "node": "Facturas vencidas >7 días", "type": "main", "index": 0 }]
      ]
    },
    "Facturas vencidas >7 días": {
      "main": [
        [{ "node": "Filtrar >7 días", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar >7 días": {
      "main": [
        [{ "node": "¿Hay vencidas?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hay vencidas?": {
      "main": [
        [{ "node": "Preparar HTML", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparar HTML": {
      "main": [
        [{ "node": "Gmail — Crear Borrador", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "tags": ["holded", "alertas", "facturas"]
}
