docs/n8n-flows/04-informe-semanal.json
{
  "name": "04 - Informe semanal",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70001",
      "name": "Lunes a las 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70002",
      "name": "GET /api/summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 220],
      "parameters": {
        "method": "GET",
        "url": "http://holded-api:8000/api/summary",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70003",
      "name": "GET /api/stats/monthly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "parameters": {
        "method": "GET",
        "url": "http://holded-api:8000/api/stats/monthly",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70004",
      "name": "Facturas pendientes cobro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 580],
      "parameters": {
        "operation": "getAll",
        "tableId": "invoices",
        "returnAll": false,
        "limit": 5,
        "filterType": "string",
        "filterString": "status=in.(1,2)&order=due_date.asc.nullslast"
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70005",
      "name": "Unir datos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 400],
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          }
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70006",
      "name": "Componer HTML informe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300],
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst summaryItem = allItems.find(i => i.json.total_income !== undefined) || allItems[0];\nconst summary = summaryItem ? summaryItem.json : {};\n\nconst monthlyItems = allItems.filter(i => i.json.month !== undefined);\n\nconst pending = allItems.filter(i => i.json.doc_number && [1, 2].includes(Number(i.json.status)));\n\nconst income   = Number(summary.total_income   || 0).toFixed(2);\nconst expenses = Number(summary.total_expenses || 0).toFixed(2);\nconst balance  = Number(summary.balance        || 0).toFixed(2);\nconst balanceColor = Number(balance) >= 0 ? '#22c55e' : '#ef4444';\n\nconst monthRows = monthlyItems.slice(-4).map(m => `\n  <tr>\n    <td>${m.json.month || '-'}</td>\n    <td style=\"text-align:right\">${Number(m.json.income || 0).toFixed(2)} €</td>\n    <td style=\"text-align:right\">${Number(m.json.expenses || 0).toFixed(2)} €</td>\n    <td style=\"text-align:right;color:${Number(m.json.income || 0) - Number(m.json.expenses || 0) >= 0 ? '#22c55e' : '#ef4444'}\">\n      ${(Number(m.json.income || 0) - Number(m.json.expenses || 0)).toFixed(2)} €\n    </td>\n  </tr>`).join('');\n\nconst pendingRows = pending.slice(0, 5).map(i => `\n  <tr>\n    <td>${i.json.contact_name || '-'}</td>\n    <td>${i.json.doc_number || '-'}</td>\n    <td style=\"text-align:right\">${Number(i.json.amount || 0).toFixed(2)} €</td>\n    <td>${i.json.due_date ? i.json.due_date.slice(0, 10) : '-'}</td>\n  </tr>`).join('');\n\nconst weekStr = new Date().toLocaleDateString('es-ES', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:auto;color:#222\">\n<h1 style=\"color:#6366f1\">📊 Informe semanal HoldedConnector</h1>\n<p style=\"color:#888\">${weekStr}</p>\n<h2>Resumen financiero acumulado</h2>\n<table style=\"width:100%;border-collapse:collapse\">\n  <tr>\n    <td style=\"background:#f0fdf4;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:bold;color:#22c55e\">${income} €</div><div>Ingresos totales</div>\n    </td>\n    <td style=\"width:16px\"></td>\n    <td style=\"background:#fef2f2;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:bold;color:#ef4444\">${expenses} €</div><div>Gastos totales</div>\n    </td>\n    <td style=\"width:16px\"></td>\n    <td style=\"background:#f5f3ff;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:bold;color:${balanceColor}\">${balance} €</div><div>Balance</div>\n    </td>\n  </tr>\n</table>\n<h2>Últimos 4 meses</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%\">\n  <thead style=\"background:#f5f5f5\"><tr><th>Mes</th><th>Ingresos</th><th>Gastos</th><th>Balance</th></tr></thead>\n  <tbody>${monthRows || '<tr><td colspan=4>Sin datos</td></tr>'}</tbody>\n</table>\n<h2>Próximas facturas pendientes de cobro</h2>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%\">\n  <thead style=\"background:#f5f5f5\"><tr><th>Cliente</th><th>Nº Factura</th><th>Importe</th><th>Vencimiento</th></tr></thead>\n  <tbody>${pendingRows || '<tr><td colspan=4>No hay facturas pendientes próximas</td></tr>'}</tbody>\n</table>\n<hr style=\"margin-top:32px\"/>\n<p style=\"color:#aaa;font-size:11px\">Informe automático generado por HoldedConnector · ${new Date().toLocaleString('es-ES')}</p>\n</body></html>`;\n\nreturn [{ json: { subject: `📊 Informe semanal HoldedConnector — ${weekStr}`, html } }];"
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70007",
      "name": "Gmail — Crear Borrador",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1160, 300],
      "parameters": {
        "operation": "create",
        "resource": "draft",
        "sendTo": "miguelbenajes@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Lunes a las 08:00": {
      "main": [
        [
          { "node": "GET /api/summary", "type": "main", "index": 0 },
          { "node": "GET /api/stats/monthly", "type": "main", "index": 0 },
          { "node": "Facturas pendientes cobro", "type": "main", "index": 0 }
        ]
      ]
    },
    "GET /api/summary": {
      "main": [
        [{ "node": "Unir datos", "type": "main", "index": 0 }]
      ]
    },
    "GET /api/stats/monthly": {
      "main": [
        [{ "node": "Unir datos", "type": "main", "index": 1 }]
      ]
    },
    "Facturas pendientes cobro": {
      "main": [
        [{ "node": "Unir datos", "type": "main", "index": 2 }]
      ]
    },
    "Unir datos": {
      "main": [
        [{ "node": "Componer HTML informe", "type": "main", "index": 0 }]
      ]
    },
    "Componer HTML informe": {
      "main": [
        [{ "node": "Gmail — Crear Borrador", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "tags": ["holded", "informe", "semanal"]
}
